* {
    margin: 0;
    padding: 0;
}

body {
    max-width: 1440px;
    background-color: rgb(34, 27, 24);


}

form {
    border: 5px solid rgb(13, 13, 235);
    background-color: rgb(232, 241, 253);
    border-radius: 3px;
    width: 35%;
    margin: 5% auto;
}

div {
    padding: 9px 0 15px 30px;
    font-size: 1rem;
}

.btn {
    background-color: white;
}



button {
    background-color: rgb(19, 130, 221);
    border-radius: 7px;
    color: white;
    width: 450px;
    height: 40px;
    font-size: 1.5rem;
}

button:hover {
    background-color: green;
}



.ergebnis {
    border-top: 1px solid black;
    background-color: white;
}

.ergebnis p {
    color: blue;
    font-weight: bold;
}

.whiteborder {
    border-top: 5px solid white;
    border-bottom: 5px solid white;

}

.whiteborder2 {
    border-top: 5px solid white;
}

.whiteborder3 {
    border-bottom: 5px solid white;
}




#inputNumber {
    padding: 5px 0;
    width: 20%;
}